<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>controller.RegisterCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaff</servlet-name>
        <servlet-class>controller.RegisterStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHome</servlet-name>
        <servlet-class>controller.customer.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstalmentCalculator</servlet-name>
        <servlet-class>controller.InstalmentCalculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inquiry</servlet-name>
        <servlet-class>controller.customer.Inquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCarSearchOption</servlet-name>
        <servlet-class>controller.customer.GetCarSearchOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateAccount</servlet-name>
        <servlet-class>controller.managingStaff.DeactivateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchCustomerAccount</servlet-name>
        <servlet-class>controller.managingStaff.FetchCustomerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchManagingStaffAccount</servlet-name>
        <servlet-class>controller.managingStaff.FetchManagingStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSalesmanAccount</servlet-name>
        <servlet-class>controller.managingStaff.FetchSalesmanAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>controller.managingStaff.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffAccount</servlet-name>
        <servlet-class>controller.managingStaff.EditStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterTable</servlet-name>
        <servlet-class>controller.managingStaff.FilterTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSalesmanManager</servlet-name>
        <servlet-class>controller.managingStaff.UpdateSalesmanManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerAccount</servlet-name>
        <servlet-class>controller.managingStaff.EditCustomerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTickets</servlet-name>
        <servlet-class>controller.salesman.LoadTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookedSales</servlet-name>
        <servlet-class>controller.salesman.LoadBookedSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPaidSales</servlet-name>
        <servlet-class>controller.salesman.LoadPaidSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCancelledSales</servlet-name>
        <servlet-class>controller.salesman.LoadCancelledSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSalesStatus</servlet-name>
        <servlet-class>controller.salesman.UpdateSalesStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarStatus</servlet-name>
        <servlet-class>controller.salesman.UpdateCarStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInstalmentPlan</servlet-name>
        <servlet-class>controller.salesman.AddInstalmentPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDepositDoc</servlet-name>
        <servlet-class>controller.salesman.UpdateDepositDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchBlacklistCustomers</servlet-name>
        <servlet-class>controller.FetchBlacklistCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestBlacklistCustomer</servlet-name>
        <servlet-class>controller.salesman.RequestBlacklistCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller.salesman.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlacklistRequest</servlet-name>
        <servlet-class>controller.DeleteBlacklistRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlacklistStatus</servlet-name>
        <servlet-class>controller.managingStaff.UpdateBlacklistStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.managingStaff.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDepositInstalment</servlet-name>
        <servlet-class>controller.managingStaff.FetchDepositInstalment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRemark</servlet-name>
        <servlet-class>controller.managingStaff.EditRemark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDepositInstalmentStatus</servlet-name>
        <servlet-class>controller.managingStaff.EditDepositInstalmentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchCarInformation</servlet-name>
        <servlet-class>controller.managingStaff.FetchCarInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestockCar</servlet-name>
        <servlet-class>controller.managingStaff.RestockCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarInfo</servlet-name>
        <servlet-class>controller.managingStaff.UpdateCarInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCar</servlet-name>
        <servlet-class>controller.managingStaff.AddNewCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCar</servlet-name>
        <servlet-class>controller.managingStaff.DeleteCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInterestedCars</servlet-name>
        <servlet-class>controller.customer.LoadInterestedCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookedCars</servlet-name>
        <servlet-class>controller.customer.LoadBookedCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOwnedCars</servlet-name>
        <servlet-class>controller.customer.LoadOwnedCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerProfile</servlet-name>
        <servlet-class>controller.customer.UpdateCustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitRating</servlet-name>
        <servlet-class>controller.customer.SubmitRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusUpdatePaymentDoc</servlet-name>
        <servlet-class>controller.customer.CusUpdatePaymentDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCarTable</servlet-name>
        <servlet-class>controller.managingStaff.FilterCarTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusUpdateExistingPaymentDoc</servlet-name>
        <servlet-class>controller.customer.CusUpdateExistingPaymentDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInstalmentTracking</servlet-name>
        <servlet-class>controller.salesman.LoadInstalmentTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchPaymentInformation</servlet-name>
        <servlet-class>controller.managingStaff.FetchPaymentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentStatus</servlet-name>
        <servlet-class>controller.salesman.UpdatePaymentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentRemark</servlet-name>
        <servlet-class>controller.salesman.UpdatePaymentRemark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>controller.salesman.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSalesReport</servlet-name>
        <servlet-class>controller.dashboard.FetchSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchSalesmanPerformance</servlet-name>
        <servlet-class>controller.dashboard.FetchSalesmanPerformance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentFeedbackAnalysis</servlet-name>
        <servlet-class>controller.dashboard.PaymentFeedbackAnalysis</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomer</servlet-name>
        <url-pattern>/RegisterCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaff</servlet-name>
        <url-pattern>/RegisterStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHome</servlet-name>
        <url-pattern>/CustomerHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstalmentCalculator</servlet-name>
        <url-pattern>/InstalmentCalculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inquiry</servlet-name>
        <url-pattern>/Inquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCarSearchOption</servlet-name>
        <url-pattern>/GetCarSearchOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateAccount</servlet-name>
        <url-pattern>/DeactivateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchCustomerAccount</servlet-name>
        <url-pattern>/FetchCustomerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchManagingStaffAccount</servlet-name>
        <url-pattern>/FetchManagingStaffAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSalesmanAccount</servlet-name>
        <url-pattern>/FetchSalesmanAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffAccount</servlet-name>
        <url-pattern>/EditStaffAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterTable</servlet-name>
        <url-pattern>/FilterTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSalesmanManager</servlet-name>
        <url-pattern>/UpdateSalesmanManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerAccount</servlet-name>
        <url-pattern>/EditCustomerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTickets</servlet-name>
        <url-pattern>/LoadTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookedSales</servlet-name>
        <url-pattern>/LoadBookedSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPaidSales</servlet-name>
        <url-pattern>/LoadPaidSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCancelledSales</servlet-name>
        <url-pattern>/LoadCancelledSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSalesStatus</servlet-name>
        <url-pattern>/UpdateSalesStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarStatus</servlet-name>
        <url-pattern>/UpdateCarStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInstalmentPlan</servlet-name>
        <url-pattern>/AddInstalmentPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDepositDoc</servlet-name>
        <url-pattern>/UpdateDepositDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchBlacklistCustomers</servlet-name>
        <url-pattern>/FetchBlacklistCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestBlacklistCustomer</servlet-name>
        <url-pattern>/RequestBlacklistCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlacklistRequest</servlet-name>
        <url-pattern>/DeleteBlacklistRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlacklistStatus</servlet-name>
        <url-pattern>/UpdateBlacklistStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDepositInstalment</servlet-name>
        <url-pattern>/FetchDepositInstalment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRemark</servlet-name>
        <url-pattern>/EditRemark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDepositInstalmentStatus</servlet-name>
        <url-pattern>/EditDepositInstalmentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchCarInformation</servlet-name>
        <url-pattern>/FetchCarInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestockCar</servlet-name>
        <url-pattern>/RestockCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarInfo</servlet-name>
        <url-pattern>/UpdateCarInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCar</servlet-name>
        <url-pattern>/AddNewCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCar</servlet-name>
        <url-pattern>/DeleteCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInterestedCars</servlet-name>
        <url-pattern>/LoadInterestedCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookedCars</servlet-name>
        <url-pattern>/LoadBookedCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOwnedCars</servlet-name>
        <url-pattern>/LoadOwnedCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerProfile</servlet-name>
        <url-pattern>/UpdateCustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitRating</servlet-name>
        <url-pattern>/SubmitRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusUpdatePaymentDoc</servlet-name>
        <url-pattern>/CusUpdatePaymentDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCarTable</servlet-name>
        <url-pattern>/FilterCarTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusUpdateExistingPaymentDoc</servlet-name>
        <url-pattern>/CusUpdateExistingPaymentDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInstalmentTracking</servlet-name>
        <url-pattern>/LoadInstalmentTracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchPaymentInformation</servlet-name>
        <url-pattern>/FetchPaymentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentStatus</servlet-name>
        <url-pattern>/UpdatePaymentStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentRemark</servlet-name>
        <url-pattern>/UpdatePaymentRemark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSalesReport</servlet-name>
        <url-pattern>/FetchSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchSalesmanPerformance</servlet-name>
        <url-pattern>/FetchSalesmanPerformance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentFeedbackAnalysis</servlet-name>
        <url-pattern>/PaymentFeedbackAnalysis</url-pattern>
    </servlet-mapping>
</web-app>
