/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 30, 2025, 11:41:04 PM
    Author     : Chew Jin Ni
*/

.page-title {
    margin-top: 30px;
    text-align: center;
}

.car-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    justify-content: center;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.car-stock-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.car-stock-card:hover {
    transform: scale(1.05);
}

.car-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-details {
    padding: 15px;
}

.card-header h3 {
    margin: 0;
    font-size: 18px;
}

.card-body p {
    margin: 10px 0;
    font-size: 14px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.button {
    padding: 8px 16px;
    background-color: #a7d9e9;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #8ecae6;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
