/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 6, 2025, 8:34:31 PM
    Author     : Chew Jin Ni
*/

.table-container{
    margin-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table-responsive {
    overflow-x: auto;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table td {
    text-align: left;
}
.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
.dropdown-status {
    width: 100%;
}

/* Style for the function bar container */
.function-bar {
    display: flex;
    justify-content: space-between; /* Align items to opposite ends */
    align-items: center; /* Vertically center items */
    margin-top: 10px;
    margin-bottom: 30px;
}

.function-bar .edit-button {
    margin-right: auto; /* Push the button to the left */
}

/* Style for the search input */
.function-bar input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
