/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 5, 2025, 6:26:10 PM
    Author     : Chew Jin Ni
*/

.table-container {
    margin-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
}

.table-responsive {
    margin-top: 20px;
}

/* Style for the function bar container */
.function-bar {
    display: flex;
    justify-content: space-between; /* Align items to opposite ends */
    align-items: center; /* Vertically center items */
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Style for the Add New Staff button */
.function-bar .edit-button {
    margin-right: auto; /* Push the button to the left */
}

/* Style for the search input */
.function-bar input {
    width: 360px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.editable-field {
    display: none;
}

textarea.editable-field {
    display: none;
}

select.editable-field {
    display: none;
}

input.view-mode {
    display: inline-block;
}

.table th, .table td {
    vertical-align: middle; /* Align text vertically in the middle */
}

.btn{
    margin-bottom: 10px;
}

.btn a{
    text-decoration: none;
}


@media (max-width: 576px) {
    /* Adjust font size for smaller screens */
    .table th, .table td {
        font-size: 14px;
    }
}

